extends layoutAdmin
block adminContent
    .content
        .container-fluid
            .row
                .col-md-12
                    .card
                        if message != null
                            if message == "success"
                                h3.success #{message}
                            else
                                h3.error #{message}
                        .col-md-8.col-md-offset-1
                            form.form-horizontal(method='post', action='/admin/addBenhnhan')
                                fieldset
                                    // Form Name
                                    legend Dien day du thong tin benh nhan
                                    // Text input
                                    .form-group
                                        .col-sm-4
                                            input#MaBN.form-control(type='text', name='MaBN', placeholder='Ma Benh Nhan')
                                        .col-sm-4
                                            input#MaBA.form-control(type='text', name='MaBA', placeholder='Ma Benh An')
                                    // Text input
                                    .form-group
                                        .col-sm-8
                                            input#name.form-control(type='text', name='name', placeholder='Ten benh nhan')
                                    .form-group
                                        .col-sm-4
                                            input#birthday.form-control(type='date', name="birthday", placeholder='Date Of Birth')
                                    // Text input
                                    .form-group
                                        .col-sm-4
                                            select#gender.form-control(type='gender', name = 'gender',placeholder='gioi tinh')
                                                option(value='Female') Female
                                                option(value='Male') Male
                                    .form-group
                                        .col-sm-8
                                            input#address.form-control(type='text', name='address', placeholder='Dia chi')
                                    .form-group
                                        .col-sm-8
                                            input#job.form-control(type='text', name='job', placeholder='Nghe nghiep cua benh nhan')
                                    .form-group
                                        .col-sm-8
                                            input#phonenumber.form-control(type='text', name='phonenumber', placeholder='So dien thoai cua benh nhan')
                                            button#submit.form-btn.semibold(type='submit', name='submit') Them benh nhan
