.cd-popup(role='alert')
    .cd-popup-container
        p Are you sure you want to delete this element?
        ul.cd-buttons
            li.success
                a.doDeletion(href='#0') Yes
            li.error
                a(href='#0') No