extends  layout
block content
    form#contact_form(action='#', method='POST', enctype='multipart/form-data')
        .row
            label(for='name') Your name:
            br
            input#name.input(name='name', type='text', value='', size='30')
            br
        .row
            label(for='email') Your email:
            br
            input#email.input(name='email', type='text', value='', size='30')
            br
        .row
            label(for='message') Your message:
            br
            textarea#message.input(name='message', rows='7', cols='30')
            br
        input#submit_button(type='submit', value='Send email')