#home.header
    .header-bottom
        // container
        .container
            .head-logo
                a(href='index.html')
                    img(src='images/LOGO-BVLC.png', alt='', height = "130px", width = "150px")
            .logo-right
                p Benh vien quan lien chieu xin chao
            .clearfix
        // //container
// //header