extends  layout

block content
  .banner-bottom-left-grids
    .col-md-6.banner-left-grid
      h3 Tin tức nổi bật
      a(href='single.html')
        img(src='images/b1.jpg', alt='')
      h4
        a(href='single.html') Silicon Valley Shows Signs of Dot-Com Frenzy
      p.comments
        | August 4 2010,
        a(href='#') 8 Comments
      p.text
        | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .blog-grids
        .blog-grid-left
          img(src='images/b6.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
      .blog-grids
        .blog-grid-left
          img(src='images/b5.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
    .col-md-6.banner-left-grid
      h3 Hoạt động nổi bật
      a(href='single.html')
        img(src='images/b2.jpg', alt='')
      h4
        a(href='single.html') Silicon Valley Shows Signs of Dot-Com Frenzy
      p.comments
        | August 4 2010,
        a(href='#') 8 Comments
      p.text
        | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .blog-grids
        .blog-grid-left
          img(src='images/b5.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
      .blog-grids
        .blog-grid-left
          img(src='images/b6.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
    .clearfix
  .banner-bottom-left-grids
    .col-md-6.banner-left-grid
      h3 Technology
      a(href='single.html')
        img(src='images/b3.jpg', alt='')
      h4
        a(href='single.html') Silicon Valley Shows Signs of Dot-Com Frenzy
      p.comments
        | August 4 2010,
        a(href='#') 8 Comments
      p.text
        | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .blog-grids
        .blog-grid-left
          img(src='images/b6.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
      .blog-grids
        .blog-grid-left
          img(src='images/b5.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
    .col-md-6.banner-left-grid
      h3 Entertainment
      a(href='single.html')
        img(src='images/b4.jpg', alt='')
      h4
        a(href='single.html') Silicon Valley Shows Signs of Dot-Com Frenzy
      p.comments
        | August 4 2010,
        a(href='#') 8 Comments
      p.text
        | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .blog-grids
        .blog-grid-left
          img(src='images/b5.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
      .blog-grids
        .blog-grid-left
          img(src='images/b6.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
    .clearfix
  // post
  .post
    h3 Latest Posts
    .post-grids
      .col-md-4.post-left
        a(href='single.html')
          img(src='images/p1.jpg', alt='')
      .col-md-8.post-right
        h4
          a(href='single.html') Silicon Valley Shows Signs of Dot-Com Frenzy
        p.comments
          | August 4 2010,
          a(href='#') 8 Comments
        p.text
          | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .clearfix
    .post-grids
      .col-md-4.post-left
        a(href='single.html')
          img(src='images/p2.jpg', alt='')
      .col-md-8.post-right
        h4
          a(href='single.html') Silicon Valley Shows Signs of Dot-Com Frenzy
        p.comments
          | August 4 2010,
          a(href='#') 8 Comments
        p.text
          | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .clearfix
    .post-grids
      .col-md-4.post-left
        a(href='single.html')
          img(src='images/p3.jpg', alt='')
      .col-md-8.post-right
        h4
          a(href='#') Silicon Valley Shows Signs of Dot-Com Frenzy
        p.comments
          | August 4 2010,
          a(href='#') 8 Comments
        p.text
          | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .clearfix