extends  layout

block content
  style
    |    .banner-bottom-bg {
    |        min-height: 163em !important;
    |    }
  .banner-bottom-left-grids
    .col-md-6.banner-left-grid
      h3 Tin tức nổi bật
      a(href='#')
        img(src='images/b1.jpg', alt='')
      h4
        a(href='single.html') Hướng dẫn 1579/HD-SNV về đánh giá, phân loại cán bộ, công chức, viên chức và người lao động công tác tại các cơ quan hành chính, đơn vị sự nghiệp thuộc UBND thành phố Đà Nẵng quản lý

      p.comments
        | August 4 2010,
        a(href='#') 8 Comments
      p.text
        | Tải về tại đây : HD1579, nghi dinh,  NGHIDINH56, Mau Phan-loai Hơp đồng lao dong 2017 Mau Phan-loai-Vien-chuc ...	Đọc tiếp »
      .blog-grids
        .blog-grid-left
          img(src='images/b6.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Hướng dẫn v/v nâng lương trước thời hạn đối với cán bộ, công chức, viên chức và người lao động các cơ quan, đơn vị thuộc UBND thành phố Đà Nẵng quản lý
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
      .blog-grids
        .blog-grid-left
          img(src='images/b5.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Thông báo về việc chấm phúc khảo kỳ tuyển dụng Hợp đồng lao đông năm 2017
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
    .col-md-6.banner-left-grid
      h3 Hoạt động nổi bật
      a(href='single.html')
        img(src='images/b2.jpg', alt='')
      h4
        a(href='#') Kế hoạch về triển khai Đề án thực hiện chương trình “Thành phố 4 an” trên địa bàn thành phố Đà Nẵng đến năm 2020 về lĩnh vực an toàn thực phẩm

      p.comments
        | August 4 2010,
        a(href='#') 8 Comments
      p.text
        | 513.YT-TCCB ban ke khai tai san DANH SACH KKTS phu luc	Đọc tiếp »
      .blog-grids
        .blog-grid-left
          img(src='images/b5.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Kế hoạch Triển khai thực hiện công tác xây dựng, kiểm tra, rà soát, hệ thống hóa văn bản quy phạm pháp luật và công tác pháp chế của ngành Y tế thành phố Đà Nẵng năm 2017
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
      .blog-grids
        .blog-grid-left
          img(src='images/b6.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Kế hoạch về rà soát, đánh giá, đơn giản hóa thủ tục hành chính của ngành Y tế thành phố Đà Nẵng năm 2017

          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
    .clearfix
  .banner-bottom-left-grids
    .col-md-6.banner-left-grid
      h3 Tai Lieu
      a(href='#')
        img(src='images/b3.jpg', alt='')
      h4
        a(href='single.html') Hướng dẫn 1579/HD-SNV về đánh giá, phân loại cán bộ, công chức, viên chức và người lao động công tác tại các cơ quan hành chính, đơn vị sự nghiệp thuộc UBND thành phố Đà Nẵng quản lý
      p.comments
        | August 4 2010,
        a(href='#') 8 Comments
      p.text
        | Tải về tại đây : HD1579, nghi dinh,  NGHIDINH56, Mau Phan-loai Hơp đồng lao dong 2017 Mau Phan-loai-Vien-chuc ...	Đọc tiếp »
      .blog-grids
        .blog-grid-left
          img(src='images/b6.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Quyết định 3336/QĐ-BYT v/v Ban hành tài liệu Hướng dẫn quy trình kỹ thuật Huyết học – Truyền máu – Miễn dịch – Dịch truyền – Sinh học phân tử
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
      .blog-grids
        .blog-grid-left
          img(src='images/b5.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Quyết định 3148/QĐ-BYT v/v Quyết định ban hành Danh mục xét nghiệm áp dụng để liên thông, công nhận kết quả xét nghiệm
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
    .col-md-6.banner-left-grid
      h3 Van ban
      a(href='single.html')
        img(src='images/b4.jpg', alt='')
      h4
        a(href='single.html') Silicon Valley Shows Signs of Dot-Com Frenzy
      p.comments
        | August 4 2010,
        a(href='#') 8 Comments
      p.text
        | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .blog-grids
        .blog-grid-left
          img(src='images/b5.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Thông tư 21/TT-BYT v/v Sửa đổi, bổ sung Danh mục kỹ thuật trong khám bệnh, chữa bệnh ban hành kèm theo Thông tư số 43/2013/TT-BYT ngày 11/12/2013 của Bộ trưởng Bộ Y tế quy định chi tiết phân tuyến chuyên môn kỹ thuật đối với hệ thống cơ sở khám bệnh, chữa bệnh
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
      .blog-grids
        .blog-grid-left
          img(src='images/b6.jpg', alt='')
        .blog-grid-right
          a(href='single.html') Fly Fishers Serving as Transports for Noxious Little Invaders
          p.comments
            | August 4 2010,
            a(href='#') 8 Comments
        .clearfix
    .clearfix
  // post
  .post
    h3 Thông tin ngoại khoa
    .post-grids
      .col-md-4.post-left
        a(href='single.html')
          img(src='images/p1.jpg', alt='')
      .col-md-8.post-right
        h4
          a(href='single.html') Bảng tổng hợp kết quả thi tuyển viên chức trung tâm y tế Liên chiểu năm 2016
        p.comments
          | August 4 2010,
          a(href='#') 8 Comments
        //p.text
        //  | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .clearfix
    .post-grids
      .col-md-4.post-left
        a(href='single.html')
          img(src='images/p2.jpg', alt='')
      .col-md-8.post-right
        h4
          a(href='single.html') Thông báo nhu cầu tuyển dụng Hợp đồng lao động năm 2016
        p.comments
          | August 4 2010,
          a(href='#') 8 Comments
        p.text
          | Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
      .clearfix
