.strip
.slider
    // Slideshow 3
    ul#slider.rslides
        li
            img(src='images/1.jpg', alt='')
        li
            img(src='images/2.jpg', alt='')
        li
            img(src='images/3.jpg', alt='')
        li
            img(src='images/4.jpg', alt='')
        li
            img(src='images/5.jpg', alt='')
        li
            img(src='images/6.jpg', alt='')
    // Slideshow 3 Pager
    ul#slider3-pager
        li
            a(href='#')
                img(src='images/1c.jpg', alt='')
        li
            a(href='#')
                img(src='images/2c.jpg', alt='')
        li
            a(href='#')
                img(src='images/3c.jpg', alt='')
        li
            a(href='#')
                img(src='images/4c.jpg', alt='')
        li
            a(href='#')
                img(src='images/5c.jpg', alt='')
        li
            a(href='#')
                img(src='images/6c.jpg', alt='')
.strip1